<a href="https://colab.research.google.com/github/Athira-K-2000/Python_programs/blob/main/oct9python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Greatest of three numbers
a=int(input("Enter the value a: "))
b=int(input("Enter the value b: "))
c=int(input("Enter the value c: "))
if (a>=b) and (a>=c):
   largest=a
elif (b>=a) and (b>=c):
  largest=b
else:
  largest=c
print("The greatest number is", largest)

Enter the value a: 45
Enter the value b: 87
Enter the value c: 28
The greatest number is 87

In [ ]:
#Student Grade
Name=str(input("Enter the student name : "))
m1=float(input("Enter mark1: "))
m2=float(input("Enter mark2: "))
m3=float(input("Enter mark3: "))
m4=float(input("Enter mark4: "))
m5=float(input("Enter mark5: "))
Total=m1+m2+m3+m4+m5
print("Total marks = ",Total)
Avg=Total/5
if Avg>=90:
  print("Grade = S")
elif Avg>=80 and Avg<90:
  print("Grade = A")
elif Avg>=70 and Avg<80:
  print("Grade = B")
elif Avg>=60 and Avg<70:
  print("Grade = C")
elif Avg>=50 and Avg<60:
  print("Grade = D")
elif Avg>=40 and Avg<50:
  print("Grade = P")
else:
  print("Grade = F")

Enter the student name : Athira
Enter mark1: 56
Enter mark2: 68
Enter mark3: 98
Enter mark4: 70
Enter mark5: 69
Total marks =  361.0
Grade = B

In [ ]:
#Electricity bill
Name=str(input("Enter the consumer name : "))
a=float(input("Enter the unit : "))
if a<=40:
  b=a*1.50
elif a<=50:
  d=a-40
  b=40*1.50+d*3.15
elif a<=100:
  d=a-50
  b=40*1.50+10*3.15+d*3.95
elif a>100:
  d=a-100
  b=40*1.50+10*3.15+50*3.95+d*4
print("Electricity bill:", b)

Enter the consumer name : Athira
Enter the unit : 65
Electricity bill: 150.75

In [ ]:
#Determine the season based on Month
month=int(input("Enter the month (1-12):"))
if 3<=month<=5:
  season="Spring"
elif 6<=month<=8:
  season= "Summer"
elif 9<=month<=11:
  season ="Autumn"
else:
  season ="Winter"
print("The season is", season)

Enter the month (1-12):10
The season is Autumn

In [ ]:
#Calculate the discount on a purchase
total_price=float(input("Enter the total price:"))
if total_price > 100:
  discount=total_price*0.10
else:
  discount=0
final_price =total_price-discount
print("Discount: $", discount)
print("Final price: $", final_price)

Enter the total price:400
Discount: $ 40.0
Final price: $ 360.0

In [ ]:
#Check if a number is prime
num=int(input("Enter a number: "))
if num >1:
  for i in range(2, num):
    if(num%i)==0:
      print(num," is not a prime number")
      break
  else:
    print(num," is a prime number")
else:
  print(num," is not a prime number")

Enter a number: 11
11  is a prime number

In [ ]:
#String Slicing
Name="Python Programming"
s="Welcome"
print(Name)
print(Name[2:7])
print(Name[3:9])
print(Name[-9:-3])
print(Name[-14:-4])
print(Name[::-1])
print(Name+s)
print(s+Name)
print(s*10)

Python Programming
thon
hon Pr
ogramm
on Program
gnimmargorP nohtyP
Python ProgrammingWelcome
WelcomePython Programming
WelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcome

In [ ]:
#List programs
mylist=['Athira',23,'Valanchery',1000]
print(mylist)
print(mylist[1:3])
#nestedindex
print(mylist[0][2])
print(mylist[0][2:5])
print(mylist[2][8])

['Athira', 23, 'Valanchery', 1000]
[23, 'Valanchery']
h
hir
r

In [ ]:
#Tuple program
T=('Athira',23,'Malappuram')
print(T)
print(T[0:2])
print(T[2][7])

('Athira', 23, 'Malappuram')
('Athira', 23)
r

In [ ]:
#set program
myset={29,2,375,"Oneteam",2,'a',2,'a'}
print(myset)

{'Oneteam', 2, 375, 'a', 29}

In [ ]:
#Dictionary Program
mydict={'Name':'Rahul','Age':20,'Place':'Mumbai'}
print(mydict)
print(mydict['Name'])
print(mydict['Age'])

{'Name': 'Rahul', 'Age': 20, 'Place': 'Mumbai'}
Rahul
20

In [ ]:
#Dressing for the weather
Temp=float(input("Enter the temperature in degrees Fahrenheit : "))
if Temp>=70:
  dress= "shorts and a t-shirt"
elif Temp>=50 and Temp<69:
  dress="jeans and light jacket"
else:
  dress="heavy coat and warm pants"
print("Wear a",dress)

Enter the temperature in degrees Fahrenheit : 30
Wear a heavy coat and warm pants

In [ ]:
#Determine season based on month
month=int(input("Enter the month(1-12): "))
if 3<=month<=5:
  season="Spring"
elif 6<=month<=8:
  season="Summer"
elif 9<=month<=11:
  season="Autumn"
else:
  season="Winter"
print("The season is ",season)

Enter the month(1-12): 10
The season is  Autumn

In [ ]:
#Check if a year is a leap year
year=int(input("Enter the year :"))
if year%4==0 or year%100==0 and year%400==0 :
  print("The year is a leap year")
else:
  print("The year is not a leap year")

Enter the year :2023
The year is not a leap year

In [ ]:
#Check if a number is positive, negative or zero
Num=float(input("Enter the number:"))
if Num>0:
  print("The number is Positive")
elif Num<0:
  print("The number is Negative")
else:
  print("The number is Zero")

Enter the number:6
The number is Positive

In [ ]:
a=10
print(type(a))
s=str(a)
print(s)

<class 'int'>
10

In [ ]:
#Type conversion
mylist=['Athira',10,'r',2345678]
print(type(mylist))
t=tuple(mylist)
print(t)

<class 'list'>
('Athira', 10, 'r', 2345678)

In [ ]:
#looping
#while loop
count=1
while(count<51):
  print("The count value is :",count)
  count+=1 #count=count+1

The count value is : 1
The count value is : 2
The count value is : 3
The count value is : 4
The count value is : 5
The count value is : 6
The count value is : 7
The count value is : 8
The count value is : 9
The count value is : 10
The count value is : 11
The count value is : 12
The count value is : 13
The count value is : 14
The count value is : 15
The count value is : 16
The count value is : 17
The count value is : 18
The count value is : 19
The count value is : 20
The count value is : 21
The count value is : 22
The count value is : 23
The count value is : 24
The count value is : 25
The count value is : 26
The count value is : 27
The count value is : 28
The count value is : 29
The count value is : 30
The count value is : 31
The count value is : 32
The count value is : 33
The count value is : 34
The count value is : 35
The count value is : 36
The count value is : 37
The count value is : 38
The count value is : 39
The count value is : 40
The count value is : 41
The count value is : 42
The count value is : 43
The count value is : 44
The count value is : 45
The count value is : 46
The count value is : 47
The count value is : 48
The count value is : 49
The count value is : 50

In [ ]:
count=2
while(count<51):
  print(count)
  count+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
#Multiplication table
a=int(input("Enter the table number: "))
count=1
while(count<=10):
  c=count*a
  print(count,"*",a,"=",c)
  count+=1

Enter the table number: 6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

In [ ]:
#sum of the even numbers
a=int(input("Enter the limit :"))
count=0
sum=0
while(count<=a):
  if (count%2==0):
    sum+=count
  count+=1
print("The sum is :",sum)

Enter the limit :10
The sum is : 30

In [ ]:
#product of the even number
a=int(input("Enter the limit :"))
count=1
product=1
while(count<=a):
  if (count%2==0):
    product*=count
  count+=1
print("The product is :",product)

Enter the limit :5
The product is : 8

In [ ]:
#sum of natural numbers
a=int(input("Enter the limit :"))
count=1
sum=0
while(count<=a):
  sum+=count
  count+=1
print(sum)

Enter the limit :10
55

In [ ]:
#factorial number
a=int(input("Enter the limit :"))
count=1
fact=1
while(count<=a):
  fact*=count
  count+=1
print(fact)

Enter the limit :6
720

In [ ]:
#sum of digits
a=int(input("Enter the number :"))
sum=0
while a>0:
  digit=a%10
  sum+=digit
  a//=10
print("The sum of digits: ",sum)

Enter the number :56
The sum of digits:  11

In [ ]:
#break
count=1
while(count<11):
  if (count==5):
    break
  print(count)
  count+=1

1
2
3
4

In [ ]:
#Break
var=10
while var>0:
  var=var-1
  if var==5:
    break
  print("Current value is :",var)
print("Thank you")

Current value is : 9
Current value is : 8
Current value is : 7
Current value is : 6
Thank you

In [ ]:
#continue
var=10
while var>0:
  var=var-1
  if var==5:
    continue
  print("Current value is :", var)
print("Thank you")

Current value is : 9
Current value is : 8
Current value is : 7
Current value is : 6
Current value is : 4
Current value is : 3
Current value is : 2
Current value is : 1
Current value is : 0
Thank you

In [ ]:
#pass
var=10
while var>0:
  var=var-1
  if var==5:
    pass
  print("Current value is:",var)
print("Thank you")

Current value is: 9
Current value is: 8
Current value is: 7
Current value is: 6
Current value is: 5
Current value is: 4
Current value is: 3
Current value is: 2
Current value is: 1
Current value is: 0
Thank you

In [ ]:
#for loop
mylist=["Athira",23,"Valanchery"]
for i in mylist:
  print(i)

Athira
23
Valanchery

In [ ]:
#Factorial(for loop)
a=int(input("Enter the number: "))
fact=1
for i in range(1,a+1):
  fact=fact*i
print(fact)

Enter the number: 5
120

In [ ]:
#Reverse a list
original_list=["Athira",23,"valanchery"]
reversed_list=[]
for item in original_list:
  reversed_list.insert(0,item)
print("original_list :",original_list)
print("Reversed_list :",reversed_list)

original_list : ['Athira', 23, 'valanchery']
Reversed_list : ['valanchery', 23, 'Athira']

In [ ]:
#Count the occurences of each element in list
Numbers=[2,5,3,4,2,4,1,7,3]
count={}
for num in Numbers:
  if num in count:
    count[num]+=1
  else:
    count[num]=1

print(count)

{2: 2, 5: 1, 3: 2, 4: 2, 1: 1, 7: 1}

In [ ]:
#Palindrome Checker
word=input("Enter the word :")
rev=""
for i in word:
  rev=i+rev
if (word==rev):
   print("Palindrome")
else:
 print("Not palindrome")

Enter the word :malayalam
Palindrome

In [ ]:
#Check Automrphic or Trimorphic
num=int(input("Enter the number :"))
square=num**2
cube=num**3
smod=pow(10,len(str(num)))
cmod=pow(10,len(str(num)))
if square%smod==num:
  print("Automorphic")
else:
  print("Not Automorphic")
if cube%cmod==num:
  print("Trimorphic")
else:
  print("Not Trimorphic")

Enter the number :76
Automorphic
Trimorphic

In [ ]:
#Calculator
Num1=int(input("Enter the number1 :"))
Num2=int(input("Enter the number2 :"))
operator=int(input("1. Addition \n2. Subtraction \n3. multiplication \n4. Division \n5. Modulus \nEnter the operation 1,2,3,4,5 :"))
if (operator==1):
  sum=Num1+Num2
  print(Num1,"+",Num2,"=",sum)
elif (operator==2):
  diff=Num1-Num2
  print(Num1,"-",Num2,"=",diff)
elif (operator==3):
  prod=Num1*Num2
  print(Num1,"*",Num2,"=",prod)
elif (operator==4):
  div=Num1/Num2
  print(Num1,"/",Num2,"=",div)
elif (operator==5):
  mod=Num1%Num2
  print(Num1,"%",Num2,"=",mod)
else:
  print("Invalid input")

Enter the number1 :56
Enter the number2 :3
1. Addition
2. Subtraction
3. multiplication
4. Division
5. Modulus
Enter the operation 1,2,3,4,5 :3
56 * 3 = 168

In [ ]:
#Checking Right Angled Triangle using side
a=float(input("Enter the length of side1 :"))
b=float(input("Enter the length of side2 :"))
c=float(input("Enter the length of side3 :"))
sq_a=a**2
sq_b=b**2
sq_c=c**2
if (sq_a==sq_b+sq_c) or (sq_b==sq_a+sq_c) or (sq_c==sq_a+sq_b):
  print("It is a Right Angled Triangle")
else:
  print("It is not a Right Angled Triangle")

Enter the length of side1 :8
Enter the length of side2 :6
Enter the length of side3 :10
It is a Right Angled Triangle

In [ ]:
#Checking Right Angled Triangle using angle
ang1=int(input("Enter the angle1 :"))
ang2=int(input("Enter the angle2 :"))
ang3=int(input("Enter the angle3 :"))
total=ang1+ang2+ang3
if total==180:
  if (ang1==90) or (ang2==90) or (ang3==90):
    print("It is a Right angled Triangle")
  else:
    print("It is not a Right angled Triangle")

Enter the angle1 :40
Enter the angle2 :50
Enter the angle3 :90
It is a Right angled Triangle

In [ ]:
#string -inbuilt methods

my_string="python programming"
#len
print(len(my_string))
#upper
print(my_string.upper())
#lower
print(my_string.lower())
#capitalize
print(my_string.capitalize())
#count
s="Hello, Hello, Hello, World"
count=s.count("Hello")
print(count)
#replace
my_string="Hello, World!"
new_string=my_string.replace("Hello", "Hi")
print(new_string)
#split
my_string="apple orange banana"
fruits=my_string.split()
print(fruits)

18
PYTHON PROGRAMMING
python programming
Python programming
3
Hi, World!
['apple', 'orange', 'banana']

In [ ]:
#list -inbuilt methods

#append
my_list=[1,2,3]
my_list.append(4)
print(my_list)

#extend
my_list=[1,2,3]
my_list.extend([4,5,6])
print(my_list)

#insert
my_list=[1,2,3]
my_list.insert(2,7)
print(my_list)

#remove
my_list=[1,2,3]
my_list.remove(2)
print(my_list)

#pop
my_list=[1,2,3,2]
my_list.pop()
print(my_list)

my_list=[1,2,3,4,5]
my_list.pop(2)
print(my_list)

#index
my_list=[1,2,3]
s=my_list.index(2)
print(s)

#count
my_list=[1,2,3,2,4]
s=my_list.count(2)
print(s)

#sort
my_list=[43,21,67,18]
my_list.sort()
print(my_list)

my_list=[43,21,67,18]
sorted_list_desc=sorted(my_list,reverse=True)
print(sorted_list_desc)

#reverse
my_list=[34,16,57,38]
my_list.reverse()
print(my_list)

#clear
mylist=[12,34,54,32]
my_list.clear()
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 7, 3]
[1, 3]
[1, 2, 3]
[1, 2, 4, 5]
1
2
[18, 21, 43, 67]
[67, 43, 21, 18]
[38, 57, 16, 34]
[]

In [ ]:
#vowels and consonants
my_string=input("Enter the string :")
vowels="aeiou"
vowels_count=0
consonants_count =0
my_string=my_string.lower()
for i in my_string:
  if i in vowels:
    vowels_count+=1
  else:
    consonants_count+=1
print("Vowels count =",vowels_count)
print("Consonant count =",consonants_count)

Enter the string :Helloworld
Vowels count = 3
Consonant count = 7

In [ ]:
#string reverse
my_string=input("Enter the string: ")
r=""
for i in my_string:
  r=i+r
print(r)

Enter the string: helloworld
dlrowolleh

In [ ]:
#Armstrong Number
num=int(input("Enter the number :"))
org_num=num
sum=0

while num>0:
  digit=num%10
  sum+=digit**3
  num=num//10
if org_num==sum:
  print(org_num,"is an Armstrong number")
else:
  print(org_num,"is not an Armstrong number")

Enter the number :153
153 is an Armstrong number

In [ ]:
#Fibonacci series
n=int(input("Enter the number of terms :"))
n1=0
n2=1
count=0

if n<=0:
  print("Enter a positive number")
else:
  print("Fibonacci series :")
  while count<n:
    print(n1)
    sum=n1+n2
    n1=n2
    n2=sum
    count+=1

Enter the number of terms :10
Fibonacci series :
0
1
1
2
3
5
8
13
21
34

In [ ]:
#count the digits in a number
num=int(input("Enter the number :"))
num=str(num)
count=0
for i in num:
  count+=1
print(count)

Enter the number :1234567
7

In [ ]:
#Set

#add
myset={1,2,3}
myset.add(4)
print(myset)

#update
myset.update([4,5,6])
print(myset)

#remove
myset.remove(5)
print(myset)

#discard
myset.discard(1)
print(myset)

#pop
#clear

set1={1,2,3}
set2={3,4,5}
#union
union_set=set1.union(set2)
print(union_set)
#intersection
intersection_set=set1.intersection(set2)
print(intersection_set)
#difference
difference_set=set1.difference(set2)
print(difference_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
{2, 3, 4, 6}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
#1. write a python program to output welcome to python
print("Welcome to Python")

Welcome to Python

In [ ]:
#2. write a python program to declare multiple variables in a single line
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [ ]:
#3. write a python program with legal and illegal variables
#legal
name="Athira"
print(name)
legal_variable=23
print(legal_variable)
#2name="Athira"
#illegal-variable=46

Athira
23

In [ ]:
#4. write a python program to combine two variables
a=input("Enter the first word :")
b=input("Enter the second word :")
c=a+" "+b
print(c)

Enter the first word :Python
Enter the second word :Programming
Python Programming

In [ ]:
#5. write a program to get the data type of an object
name="Athira"
age=23
name_type=type(name)
age_type=type(age)
print("Datatype of name is",name_type)
print("Datatype of age is",age_type)

Datatype of name is <class 'str'>
Datatype of age is <class 'int'>

In [ ]:
#6. write a program to input multiline string
multiline_string='''Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
It supports multiple programming paradigms, including structured, object-oriented and functional programming.'''
print("Multiline String :",multiline_string)

Multiline String : Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
It supports multiple programming paradigms, including structured, object-oriented and functional programming.

In [ ]:
#7. write a program to convert one data type into other
num=25
float_num=float(num)
print(float_num)
print(type(float_num))

25.0
<class 'float'>

In [ ]:
#8. write a program to input a string
my_string=input("Enter the string :")
print(my_string)

Enter the string :Hello World
Hello World

In [ ]:
#9. str2=''communication" then find
'''1.str2[0]
2.str2[1]
3.str2[-1]
4.str2[-4]
5.str2[2:12:3]
6.str2[3:9:2]
Str2[::3]
.str2[::2]
Str2[::-2]
str2[::-1] '''

str2="communication"
print(str2[0])
print(str2[1])
print(str2[-1])
print(str2[-4])
print(str2[2:12:3])
print(str2[3:9:2])
print(str2[::3])
print(str2[::2])
print(str2[::-2])
print(str2[::-1])

c
o
n
t
mnao
mnc
cmitn
cmuiain
niaiumc
noitacinummoc

In [ ]:
#10. write a program to generate random numbers
import random
num = random.random()
print(num)

0.9640200614710784

In [ ]:
#11. Write a python program to use the isalnum method
string = "abc123"
print(string.isalnum())

True

In [ ]:
#12. convert a string to a lower
my_string=input("Enter the string :")
print(my_string.lower())

Enter the string :Athira
athira

In [ ]:
#13. Write a python program to use capitalize method
my_string=input("Enter the string :")
print(my_string.capitalize())

Enter the string :python program
Python program

In [ ]:
#14. remove white spaces from the begging of a string
str3=" Athira"
print(str3)
print(str3.strip())

 Athira
Athira

In [ ]:
#15. Write a python program to use ends with the method
string = "Hello world"
x = string.endswith("world")
print(x)

True

In [ ]:
#16. write a program to check whether a certain character or phrase is present in a string or not
string=input("Enter the string :")
check=input("Enter the string or character to check :")
if check in string:
  print("It is present in the string")
else:
  print("It is not present in the string")

Enter the string :hello world
Enter the string or character to check :hello
It is present in the string

In [ ]:
#17. write a program to find the length of a string
string=input("Enter the string :")
print(len(string))

Enter the string :Hello world
11

In [ ]:
#18. write a program to split the strings into substrings
string="apple,banana,grape"
split=string.split(',')
print(split)

['apple', 'banana', 'grape']

In [ ]:
#19. Write a python program to use the case fold method
string=input("Enter the string :")
x = string.casefold()
print(x)

Enter the string :HelloWorld
helloworld

In [ ]:
#20.  write a program to replace a string with other Get the first character of the string txt. txt = "Welcome to python"
string="hello world"
new_string=string.replace("world","welcome to python")
print(new_string)

hello welcome to python

In [ ]:
#21.  Get the characters from index 2 to index 4 txt = "Welcome to python"
string="Welcome to python"
print(string[2:4])

lc

In [ ]:
#22. Return the string without any whitespace at the beginning of the end. txt = " Welcome to python "
txt = " Welcome to python "
print(txt)
print(txt.strip())

 Welcome to python
Welcome to python

In [ ]:
#23. Using the type() function assign the type of the variable to answer_1, then print it.
a=10
answer_1=type(a)
print(answer_1)

<class 'int'>

In [ ]:
#25. str="It's always darkest before dawn."  Replace the (.) with (!)
string="It's always darkest before dawn."
replaced_string=string.replace(".","!")
print(replaced_string)

It's always darkest before dawn!

In [ ]:
#27. Reassign str so that, all its characters are lowercase. str="EVERY Strike Brings Me Closer to the Next Home run."
string="EVERY Strike Brings Me Closer to the Next Home run"
print(string.lower())

every strike brings me closer to the next home run

In [ ]:
#29.  Make the string so that everything is properly and the first letter is capital str=" there are no traffic JamS Along with The extra "
string="there are no traffic JamS Along with The extra"
print(string.capitalize())

There are no traffic jams along with the extra

In [ ]:
#30. Print the types of two given variables with the print function.   v_1="1"   v_2=1
v_1="1"
v_2=1
print(type(v_1))
print(type(v_2))

<class 'str'>
<class 'int'>

In [ ]:
#31. What is the length of the given string? str="1.975.000"
string="1.975.000"
print(len(string))

9

In [ ]:
#32.  write a program To check whether a character is a numeric character or not,
a=input("Enter the number :")
if a.isnumeric():
  print(a,"is numeric character")

Enter the number :6
6 is numeric character

In [ ]:
#33.  Perform comparison operations X=5 Y=6
X=int(input("Enter X :"))
Y=int(input("Enter Y :"))
if X==Y:
  print("X and Y are equal")
else:
  print("X and Y are not equal")
  if X>Y:
    print("X is greater than Y")
  else:
    print("Y is greater than X")

Enter X :5
Enter Y :6
X and Y are not equal
Y is greater than X

In [ ]:
#34. write a python program using the not in operator
a=input("Enter the string1 :")
b=input("Enter the string2 :")
'''if b in a:
  print(b,"is present in",a)
else:
  print(b,"is not present in",a)'''
print(a not in b)

Enter the string1 :helloworld
Enter the string2 :python
True

In [ ]:
#35. write a python program using is the operator
a=int(input("Enter the number :"))
b=int(input("Enter the number :"))
print(a is b)

Enter the number :7
Enter the number :7
True

In [ ]:
#36. write a python program using is not operator
a=int(input("Enter the number :"))
b=int(input("Enter the number :"))
print(a is not b)

Enter the number :6
Enter the number :4
True

In [ ]:
#37. X=10 Y=3 Print
'''X+y
X
X*y
X//y
X**y '''

X=10
Y=3
sum=X+Y
sub=X-Y
prdt=X*Y
flr=X//Y
power=X**Y
print("X+Y =",sum)
print("X-Y =",sub)
print("X*Y =",prdt)
print("X//Y =",flr)
print("X**Y =",power)

X+Y = 13
X-Y = 7
X*Y = 30
X//Y = 3
X**Y = 1000

In [ ]:
#38. Print 1-500 using while loops
count=1
while (count<=500):
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
#39. Write a program using the if,elif, and else statement
a=int(input("Enter a number :"))
if a>0:
  print("a is positive")
elif a<0:
  print("a is negative")
else:
  print("a is zero")

Enter a number :56
a is positive

In [ ]:
#40. Use continue statement in while loops
a=int(input("Enter the limit :"))
count=0
while count<a:
  count=count+1
  if count==7:
    continue
  print("Current value is :",count)

Enter the limit :10
Current value is : 1
Current value is : 2
Current value is : 3
Current value is : 4
Current value is : 5
Current value is : 6
Current value is : 8
Current value is : 9
Current value is : 10

In [ ]:
#41. Use break statement in while loops
count=1
while(count<11):
  if (count==5):
    break
  print(count)
  count+=1

1
2
3
4

In [ ]:
#42. create a list with items x=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True ,False,10,20,10.5] Find,
'''X[0]
X[5]
X[-1]
X[-2]
X[3:10]
X[2:11]
X[::9]
X[4::]
X[2:10:2]
X[1:11:3]
X[::3]
X[::-2]
x[::-1]'''

x=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True ,False,10,20,10.5]
print(x[0])
print(x[5])
print(x[-1])
print(x[-2])
print(x[3:10])
print(x[2:11])
print(x[::9])
print(x[4::])
print(x[2:10:2])
print(x[1:11:3])
print(x[::3])
print(x[::-2])
print(x[::-1])

apple
tomato
10.5
20
['grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True]
['cherry', 'grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True, False]
['apple', True]
['kiwi', 'tomato', 'mango', 'orange', 'banana', True, False, 10, 20, 10.5]
['cherry', 'kiwi', 'mango', 'banana']
['banana', 'kiwi', 'orange', False]
['apple', 'grapes', 'mango', True, 20]
[10.5, 10, True, 'orange', 'tomato', 'grapes', 'banana']
[10.5, 20, 10, False, True, 'banana', 'orange', 'mango', 'tomato', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [ ]:
#43. write a python program to create a new list
l = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    l.append(ele)

print(l)

Enter number of elements : 6
12
45
67
23
9
10
[12, 45, 67, 23, 9, 10]

In [ ]:
#44. write a program to retrieve the first item from a list
l= [23,54,83,28,8]
print("l = " + str(l))
r= [l[0]]

print("The first element of list is : " + str(r))

l = [23, 54, 83, 28, 8]
The first element of list is : [23]

In [ ]:
#45. write a program to determine the length of a list
l= [56,34,67,98,12]
n = len(l)
print("The length of list is: ", n)

The length of list is:  5

In [ ]:
#46. write a python program to change the first item in a list
l =[43,65,78,95,3]
l[0]=30
print(l)

[30, 65, 78, 95, 3]

In [ ]:
#47. write a python program using negative indexing
l=[4,5,8,9,2,7]
print("l=",l)
print(l[-6])

l= [4, 5, 8, 9, 2, 7]
4

In [ ]:
#48. write a program to add a new item to the end of a list
l = []
n = int(input("Enter number of elements in the list: "))
for i in range(0, n):
    e = int(input())
    l.append(e)
print(l)
a=int(input("Enter the value to append :"))
l.append(a)
print(l)

Enter number of elements in the list: 5
24
73
46
8
2
[24, 73, 46, 8, 2]
Enter the value to append :17
[24, 73, 46, 8, 2, 17]

In [ ]:
#49. create a list and display the list in reverse order
l = []
n = int(input("Enter number of elements in the list: "))
for i in range(0, n):
    ele = int(input())
    l.append(ele)

print("Original list :",l)
reversed_list=l[::-1]
print("Reversed list :",reversed_list)

Enter number of elements in the list: 5
67
45
36
74
29
Original list : [67, 45, 36, 74, 29]
Reversed list : [29, 74, 36, 45, 67]

In [ ]:
#50. write a program to find the maximum value in a list
l = []
n = int(input("Enter number of elements in the list: "))
for i in range(0, n):
    ele = int(input())
    l.append(ele)

print("list :",l)
max_val=l[0]
for i in l:
  if i>max_val:
    max_val=i
print("The maximum value in the list is :",max_val)

Enter number of elements in the list: 4
57
98
86
46
list : [57, 98, 86, 46]
The maximum value in the list is : 98

In [ ]:
#51. write a program to display the index of an element in a list
my_list = [45,67,98,34,27]
print(my_list.index(34))

3

In [ ]:
#52. write a program to count the occurrence of an Element in a list
l=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input())
    l.append(e)
print("Original list: ",l)

c=int(input("Enter element to be checked : "))
print(c," has occurred ",l.count(c),"times")

Enter size of list 6
4
2
5
6
4
2
Original list:  [4, 2, 5, 6, 4, 2]
Enter element to be checked : 4
4  has occurred  2 times

In [ ]:
#53. create a nested list and display each item from the list

In [ ]:
#54. Based on a list of fruits, create a new list, containing only the fruits with the letter "a" in the name.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for i in fruits:
  if "a" in i:
    newlist.append(i)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#55. fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Only accept items that are not "kiwi"
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for i in fruits:
  if "kiwi" not in i:
    newlist.append(i)

print(newlist)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#56. fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Set the values in the new list to upper case
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = str(fruits)
print(newlist.upper())

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#57. create a list and iterate over the list
list = [6,7,4,8,9,3]
for i in list:
    print(i)

6
7
4
8
9
3

In [ ]:
#58. write a program using for loop with a break statement
a=int(input("Enter the limit :"))
for i in range(0,a):
  if i==8:
    break
  print(i)

Enter the limit :15
0
1
2
3
4
5
6
7

In [ ]:
#59. write a program using for loop with a continue statement
a=int(input("Enter the limit :"))
for i in range(0,a):
  if i==4:
    continue
  print(i)

Enter the limit :8
0
1
2
3
5
6
7

In [ ]:
#60. write a program using range function with starting parameter and increment parameter
a=int(input("Enter the limit :"))
for i in range(0,a,3):
  print(i)

Enter the limit :25
0
3
6
9
12
15
18
21
24

In [ ]:
#61. write a program to create a tuple
t= ("Athira",23,"valanchery")
print(t)

('Athira', 23, 'valanchery')

In [ ]:
#62. write a program to get the length of a tuple
t=(1,2,3,4,5,6)
print(len(t))

6

In [ ]:
#63. write a program to return the data type of a tuple
t=(34,56,78,35,60)
print(type(t))

<class 'tuple'>

In [ ]:
#64. create a tuple with items kiwi, orange, grapes, apple, then add a new item (melon) to the first index
mytuple = ('kiwi', 'orange', 'grapes', 'apple')
mylist = [*mytuple,]
mylist.insert(0,'melon')
mylist=tuple(mylist)
print(mylist)

('melon', 'kiwi', 'orange', 'grapes', 'apple')

In [ ]:
#66. write a program to append an item to the tuple
mytuple=(4,5,6,7)
append_element=8
new_tuple=mytuple+(append_element,)
print(new_tuple)

(4, 5, 6, 7, 8)

In [ ]:
#67. write a program to remove an item from a tuple
T = (4,76,23,65,9,67,25,15)
print("Tuple = ", T)
T = T[:3] + T[4:]
print("After Removing 4th Tuple Item = ", T)

Tuple =  (4, 76, 23, 65, 9, 67, 25, 15)
After Removing 4th Tuple Item =  (4, 76, 23, 9, 67, 25, 15)

In [ ]:
#68. write a program to concatenate two tuples
tup1=(2,3,5,8)
tup2=(4,6,7,9)
r=tup1+tup2
print("Tuple after concatenation :",r)

Tuple after concatenation : (2, 3, 5, 8, 4, 6, 7, 9)

In [ ]:
#69. write a program to extract the values from a tuple into variables
my_tuple=(20,30,40)
var1,var2,var3=my_tuple
print(var1)
print(var2)
print(var3)

20
30
40

In [ ]:
#70. extract values from tuple using Asterix
my_tup=(20,30,40,50,60,70)
var1,var2,*rest_values=my_tup
print(var1)
print(var2)
print(rest_values)

20
30
[40, 50, 60, 70]

In [ ]:
#71. count the number of occurrences of an item in a tuple
T = (2,4,6,4,5,8,6,10)
print(T)
a=int(input("Enter the number to count the occurence :"))
count = T.count(a)
print("Occurence:",count,"times")

(2, 4, 6, 4, 5, 8, 6, 10)
Enter the number to count the occurence :6
Occurence: 2 times

In [ ]:
#72. remove items from a tuple by using merge with +Character

In [ ]:
#73. slice a tuple using start-stop, step parameter
t=(2,4,5,6,3,7,9,8)
slice_t = t[3:5]
print(slice_t)

#74. slice a tuple with step parameter is negative
slice_t= t[-8:-5]
print(slice_t)

(6, 3)
(2, 4, 5)

In [ ]:
#75. returns a tuple with a jump every 3 times
mytuple=(1,2,3,4,5,6,7)
print(mytuple[::3])

(1, 4, 7)

In [ ]:
#76. find the maximum value in a tuple
t=(34,65,76,24,18,70)
max_val=max(t)
print("Maximum value of the tuple is :",max_val)

#77. Find min value in a tuple
min_val=min(t)
print("Minimum value of the tuple is :",min_val)

Maximum value of the tuple is : 76
Minimum value of the tuple is : 18

In [ ]:
#78. find the sum of items in a tuple

t=(1,2,3,4,5)
total_sum=sum(t)
print("Sum of tuple elements =",total_sum)

Sum of tuple elements = 15

In [ ]:
#79. write a program to find the index of an item
t=(2,5,6,8,3,7)
print(t.index(8))

3

In [ ]:
#80. write a program to find the length of a set
myset={1,3,5,6,7,8}
print(len(myset))

6

In [ ]:
#81. write a program to create a set
myset={3,4,6,7,8,9}
print(myset)

{3, 4, 6, 7, 8, 9}

In [ ]:
#82. write a program to remove an item from the set using the remove method
myset={1,4,5,7,8,9}
myset.remove(4)
print(myset)

{1, 5, 7, 8, 9}

In [ ]:
#83. write a program to add items from one set to another
set1={5,7,8,9}
set2={2,4,6,7}
set1.update(set2)
print(set1)

{2, 4, 5, 6, 7, 8, 9}

In [ ]:
#84. write a program to join two sets
set1={2,3,4,5}
set2={5,6,7}
union_set=set1.union(set2)
print(union_set)

{2, 3, 4, 5, 6, 7}

In [ ]:
#85. write a program to remove an item from the set using the discard method
myset={23,45,63,72,80}
myset.discard(80)
print(myset)

{23, 72, 45, 63}

In [ ]:
#86. write a program to add an item to a set
myset={19,48,27,49,16}
myset.add(33)
print(myset)

{48, 16, 49, 19, 33, 27}

In [ ]:
#87. write a program using the symmetric difference method
setA= {'a','b','c','d'}
setB= {'c','d','e'}
result=setA.symmetric_difference(setB)
print(result)

{'e', 'b', 'a'}

In [ ]:
#88. write a program using the intersection update method
A = {1,2,3,4}
B = {1,2,3,4,5,6}
C = {1,4,5,6,9,10}
A.intersection_update(B, C)
print('A =', A)
print('B =', B)
print('C =', C)

A = {1, 4}
B = {1, 2, 3, 4, 5, 6}
C = {1, 4, 5, 6, 9, 10}

In [ ]:
#89. Write a Python script to add a key to a dictionary
my_dict={'name':'Athira','age':23}
my_dict['place']='Valanchery'
print(my_dict)

{'name': 'Athira', 'age': 23, 'place': 'Valanchery'}

In [ ]:
#90. Write a Python script to check whether a given key already exists in a dictionary.
mydict = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
key=int(input("Enter the key to search :"))
if key in mydict:
   print('Key is present in the dictionary')
else:
   print('Key is not present in the dictionary')

Enter the key to search :5
Key is present in the dictionary

In [ ]:
#91. Write a Python program to get the key, value, and item in a dictionary.
contactlist={}
n=int(input("Enter the number of contacts : "))
for i in range(1,n+1):
	name=input("Enter the contact name :")
	phno=int(input("Enter the phone number :"))
	contactlist[name]=phno
print("Keys")
for x in contactlist.keys():
	print(x)
print("Values")
for x in contactlist.values():
	print(x)
print("Keys-value pairs")
for x,y in contactlist.items():
	print(x,"-",y)

Enter the number of contacts : 1
Enter the contact name :Athira
Enter the phone number :9946949353
Keys
Athira
Values
9946949353
Keys-value pairs
Athira - 9946949353

In [ ]:
#92. print the value of the "model" key of the car dictionary using the get method car = {"brand": "Ford","model": "Mustang","year": 1964}
 #Change the "year" value from 1964 to 2020. in the above dictionary
mydict={'brand':'ford','model':'mustang','year':1964}
print("mydict :",mydict)
mydict['year']=2020
print("mydict after change :",mydict)

mydict : {'brand': 'ford', 'model': 'mustang', 'year': 1964}
mydict after change : {'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
#94. Write a Python program to remove a key from a dictionary.
mydict={'Name':'Athira','Age':23,'Place':'Valanchery'}
del mydict['Place']
print(mydict)

{'Name': 'Athira', 'Age': 23}

In [ ]:
#95. create a dictionary using the dict constructor
my_dict = dict([('Name', 'Athira'), ('Age', 23), ('Place', 'valanchery')])
print(my_dict)

{'Name': 'Athira', 'Age': 23, 'Place': 'valanchery'}

In [ ]:
#96. write a program with a dictionary update method
mydict={'Name':'Athira','Age':23}
mydict['Place']='Valanchery'
print(mydict)

{'Name': 'Athira', 'Age': 23, 'Place': 'Valanchery'}

In [ ]:
#97. write a program to remove the last inserted item from a dictionary
mydict={'Name':'Athira','Age':23,'Place':'Valanchery'}
removed_item=mydict.popitem()
print(mydict)

{'Name': 'Athira', 'Age': 23}

In [ ]:
#98. write a program to empty a dictionary
mydict={'Name':'Athira','Age':23,'Place':'Valanchery'}
mydict.clear()
print(mydict)

{}

In [ ]:
#99. write a program to copy a dictionary
mydict={'name': 'Athira', 'age': 23, 'city': 'Valanchery'}
print("original dictionary:",mydict)
dicts=dict(mydict)
print("copied dictionary:",dicts)

original dictionary: {'name': 'Athira', 'age': 23, 'city': 'Valanchery'}
copied dictionary: {'name': 'Athira', 'age': 23, 'city': 'Valanchery'}

In [ ]:
#dictionary
mydict={1:1,2:4,3:9,4:16}
print(mydict)
print(mydict[3])
mydict[3]=90
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16}
9
{1: 1, 2: 4, 3: 90, 4: 16}

In [ ]:
#creating a dictionary
my_dict={'name':'John','age':30,'city':'New York'}

#accessing values
print(my_dict['name'])

#updating values
my_dict['age']=31
print(my_dict)

#addind new key-value pair
my_dict['occupation']='Engineer'
print(my_dict)

#deleting a key-value pair
del my_dict['city']
print(my_dict)

#using keys(), values(), and items()
keys_list=my_dict.keys()
values_list=my_dict.values()
items_list=my_dict.items()
print(keys_list)
print(values_list)
print(items_list)

#using get()
value=my_dict.get('age','N/A')
print(value)
value=my_dict.get('salary','N/A')
print(value)

#using pop()
removed_value=my_dict.pop('age')
print(removed_value)
print(my_dict)

#using popitem()
removed_item=my_dict.popitem()
print(removed_item)
print(my_dict)

#using clear()
my_dict.clear()
print(my_dict)

#using update
my_dict.update({'country':'USA','age':30})
print(my_dict)

John
{'name': 'John', 'age': 31, 'city': 'New York'}
{'name': 'John', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}
{'name': 'John', 'age': 31, 'occupation': 'Engineer'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['John', 31, 'Engineer'])
dict_items([('name', 'John'), ('age', 31), ('occupation', 'Engineer')])
31
N/A
31
{'name': 'John', 'occupation': 'Engineer'}
('occupation', 'Engineer')
{'name': 'John'}
{}
{'country': 'USA', 'age': 30}

In [ ]:
a=["apple","orange","banana"]

In [ ]:
#write python program to reverse a string
string=input("Enter the string :")
reverse=""
for i in string:
  reverse=i+reverse
print("Reversed string =",reverse)

Enter the string :python
Reversed string = nohtyp

In [ ]:
#write a function to find the longest word in a sentence
s=input("Enter the sentence :")
word=s.split()
for i in word:
  longest= max(word,key=len)
print("The longest word in the sentence is ",longest)

Enter the sentence :Welcome to python programming
The longest word in the sentence is  programming

In [ ]:
#create a function to remove all even numbers from a list
l=[12,13,45,63,29,78]
for i in l:
  if (i%2==0):
    l.remove(i)
print(l)

[13, 45, 63, 29]

In [ ]:
#Write a program to shuffle the elements of a list randomly
import random

my_list=input("Enter the input").split()
print("original list",my_list)

random.shuffle(my_list)
print("shuffled list",my_list)

Enter the input1 2 3 4
original list ['1', '2', '3', '4']
shuffled list ['3', '4', '1', '2']

In [ ]:
#Create a function to find the keys with the highest values in a dictionary

In [ ]:
#How can you check if a key exists in a dictionary
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
key=input("Enter the key to check :")
if key in my_dict:
  print("The key exists in the dictionary")
else:
  print("The key do not exists in the dictionary")

Enter the key to check :name
The key exists in the dictionary

In [ ]:
#Write a program to count the frequency of words in a text using a dictionary
text = input("Enter the text : ")
words = []
text=text.lower()
words = text.split()
mydict = {}
for key in words:
    mydict[key] = words.count(key)

print("Dictionary Items  :  ",  mydict)

Enter the text : Hi hello hi
Dictionary Items  :   {'hi': 2, 'hello': 1}

In [ ]:
#Create a function to remove a key-value pair from a dictionary
my_dict={'name':'Athira','age':23,'place':'valanchery'}
print(my_dict)
del my_dict['place']
print(my_dict)

{'name': 'Athira', 'age': 23, 'place': 'valanchery'}
{'name': 'Athira', 'age': 23}

In [ ]:
#Function
def fact():
  a=int(input("Enter the number: "))
  fact=1
  for i in range(1,a+1):
    fact=fact*i
  print(fact)

fact()

Enter the number: 6
720

In [ ]:
#default parameter passing
def sum(a,b):
  c=a+b
  return c
sum(345,876)

1221

In [ ]:
#keyword parameter passing
def sum(a=243,b=12):
  c=a+b
  return c
sum()

255

In [ ]:
#arbitaryarguements parameter passing
def sum(*a):
  print(a)
sum(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [ ]:
#reference parameter passing
def sum(a):
  print(a)

r=10
sum(r)

10

In [ ]:
#keyword arbitary parameter passing
def word(**x):
  print(x)

word(name="Athira",age="23")

{'name': 'Athira', 'age': '23'}

In [ ]:
#Write a Python program that includes functions to convert temperatures between Celsius and Fahrenheit.
user_input=input("Select the temperature: \n1. Celsius to Fahrenheit \n2. Fahrenheit to Celsius \nEnter the choice(1/2) : ")
def converter():
  if user_input=='1':
    celsius=float(input("Enter the temperature :"))
    fahrenheit=(celsius*9/5)+32
    print(f"Converting celsius {celsius} to fahrenheit is {fahrenheit}")
  elif user_input=='2':
    fahrenheit=float(input("Enter the temperature :"))
    cesius=(fahrenheit-32)*5/9
    print(f"Converting fahrenheit {fahrenheit} to celsius is {celsius}")
converter()

Select the temperature:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
Enter the choice(1/2) : 1
Enter the temperature :50
Converting celsius 50.0 to fahrenheit is 122.0

In [ ]:
#Create a function to check if a given word or phrase is a palindrome (reads the same backward as forward).
def palindrome():
  word=input("Enter the word :")
  rev=""
  for i in word:
    rev=i+rev
  if (word==rev):
    print("palindrome")
  else:
    print("Not Palindrome")

palindrome()

Enter the word :malayalam
palindrome

In [ ]:
#List Manipulation:
#Write a program with functions to:
#Find the maximum element in a list.
user_input=input("Enter the numbers separated by spaces :")
new_input=user_input.split()

def largest_number():
  numbers=[]
  for i in new_input:
    num=int(i)
    numbers.append(num)
  if numbers:
    sorted_number=sorted(numbers, reverse=True)
  if len(numbers)>1:
    largest_number=sorted_number[0]
  print(f"The entered elements in list : {numbers}")
  print(f"The list in descending order : {sorted_number}")
  print(f"The largest number : {largest_number}")
largest_number()

Enter the numbers separated by spaces :23 56 35 70 16 20
The entered elements in list : [23, 56, 35, 70, 16, 20]
The list in descending order : [70, 56, 35, 23, 20, 16]
The largest number : 70

In [ ]:
#Calculate the sum of all elements in a list.
user_input = input("Enter the numbers separated by space :")
new_input = user_input.split()

def sum_of_elements():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(num)
  sum_of_elements = sum(numbers)
  print(f"The original list : {numbers}")
  print(f"The sum of elements in the list : {sum_of_elements}")
sum_of_elements()

Enter the numbers separated by space :7 5 4 8 3 2
The original list : [7, 5, 4, 8, 3, 2]
The sum of elements in the list : 29

In [ ]:
#Remove duplicates from a list.
user_input = input("Enter the elements separated by space :")
new_input = user_input.split()

def remove_duplicates():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(i)

  new_numbers = []
  for items in numbers:
    if items not in new_numbers:
      new_numbers.append(items)
  print(f"The original list : {numbers}")
  print(f"After removing the duplicates : {new_numbers}")

remove_duplicates()

Enter the elements separated by space :3 5 4 3 6 7 5 8 2
The original list : ['3', '5', '4', '3', '6', '7', '5', '8', '2']
After removing the duplicates : ['3', '5', '4', '6', '7', '8', '2']

In [ ]:
#word count
#Create a program that takes a sentence as input and returns the count of each word in that sentence.
user_input = input("Enter the sentence")
new_input = user_input.split()

def count_word():
  word_count = {}
  for words in new_input:
    if words in word_count:
      word_count[words]+=1
    else:
      word_count[words]=1
  for word, count in word_count.items():
    print(f"{word}:{count}")

count_word()

Enter the sentencehello hi hello
hello:2
hi:1

In [ ]:
#100. Create and call a function
def sum():
  a=30
  b=46
  c=a+b
  print(c)

sum()

76

In [ ]:
#101. create a function using the arbitrary argument
def sum(*a):
  print(a)
sum(4,6,7,8,9,2)

(4, 6, 7, 8, 9, 2)

In [ ]:
#102. create a function using an arbitrary keyword argument
def word(**x):
  print(x)

word(name="Athira",age="23",place="Valanchery")

{'name': 'Athira', 'age': '23', 'place': 'Valanchery'}

In [ ]:
#103. create a function with a return statement
def sub():
  a=45
  b=29
  c=a-b
  return c

sub()

16

In [ ]:
#104 create a function with a default parameter value
def sum(a,b):
  c=a+b
  return c
sum(100,200)

300

In [ ]:
#Python-ex-part-1
#1.arbitoryarg.py

def add(*n):
	s=0
	for x in n:
		s=s+x
	return s

p=add(10,20,30)
print("Sum is ",p)
q=add(10,20,30,40,50)
print("Sum is ",q)
r=add(25.5,36.6,42.7,52.8)
print("Sum is ",r)

Sum is  60
Sum is  150
Sum is  157.60000000000002

In [ ]:
#2.auto_trimorphic.py

num=int(input("Enter the number : "))
print("Menu")
print("1.Automorphic")
print("2.Trimorphic")
choice=int(input("Enter your choice : "))
l=len(str(num))
if choice==1:
	sq=num**2
	if sq%(10**l)==num:
		print(num," is automorphic")
	else:
		print(num," is not automorphic")
elif choice==2:
	cb=num**3
	if cb%(10**l)==num:
		print(num," is trimorphic")
	else:
		print(num," is not trimorphic")
else:
	print("Invalid choice!!!")

Enter the number : 76
Menu
1.Automorphic
2.Trimorphic
Enter your choice : 1
76  is automorphic

In [ ]:
#3.big3elif.py

a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if a>b and a>c:
	big=a
elif b>a and b>c:
	big=b
else:
	big=c
print("Biggest is ",big)

enter the first number54
enter the second number87
enter the third number76
Biggest is  87

In [ ]:
#4.bigifelse.py

a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
if a>b:
	big=a
else:
	big=b
print("Biggest is : ",big)

Enter the first number39
Enter the second number37
Biggest is :  39

In [ ]:
#5.biglist.py

a=[]
n=int(input("Enter the limit array :"))
print("Enter the elements : ")
for i in range(0,n):
	no=int(input())
	a.append(no)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
if big==a[0]:
	sbig=a[1]
else:
	sbig=a[0]
for i in range(0,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Second largest is : ",sbig)

Enter the limit array :5
Enter the elements :
12
34
70
81
59
Second largest is :  70

In [ ]:
#6.bignestedif.py

a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
if a>b:
	if a>c:
		big=a
	else:
		big=c
else:
	if b>c:
		big=b
	else:
		big=c
print("Biggest is : ",big)

Enter the first number62
Enter the second number74
Enter the third number29
Biggest is :  74

In [ ]:
#7.bigsimif.py

a=int(input("Enter a number"))
b=int(input("Enter a number"))
big=a
if a<b:
	big=b
print("Biggest is : ",big)

Enter a number56
Enter a number73
Biggest is :  73

In [ ]:
#8.block_selection.py

required_amenities=[]
block_details=[{"School":True,"Gym":False,"Pool":False,"Hospital":True,"Store":False},]
amenities={"School":False,"Gym":False,"Pool":False,"Hospital":False,"Store":False}
print("Enter your requirements :(1-required/0-not required)")
for x in amenities.keys():
	k=int(input(x))
	if k==1:
		required_amenities.append(x)
print(required_amenities)

Enter your requirements :(1-required/0-not required)
School1
Gym1
Pool0
Hospital0
Store1
['School', 'Gym', 'Store']

In [ ]:
#8.calculatorelif.py

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division ")
print("5. Exponet")
choice=int(input("Enter your choice of operation :"))
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if choice==1:
	res=a+b
elif choice==2:
	res=a-b
elif choice==3:
	res=a*b
elif choice==4:
	res=a/b
elif choice==5:
	res=a**b
else:
	print("Invalid choice!!!")
print("The result is ",res)

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exponet
Enter your choice of operation :4
Enter a number68
Enter a number4
The result is  17.0

In [ ]:
#9.circularrightshift.py

a=[]
n=int(input("Enter no of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	elmnt=int(input())
	a.append(elmnt)
print(a)
b=[a[n-1]]+a[:n-1]
a=b
print(a)

Enter no of elements : 5
Enter the elements :
12
34
56
78
90
[12, 34, 56, 78, 90]
[90, 12, 34, 56, 78]

In [ ]:
#10.contactbook.py

print("1.Add a contact ")
print("2.Delete a contact")
print("3.Edit a contact ")
print("4.Search a contact")
print("5.List all contacts")
print("6.Exit")
contactbook={}
choice=int(input("Enter your choice "))
while choice!=6:
	if choice==1:
		name=input("Enter the name : ")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("1 contact added successfully")
	elif choice==2:
		name=input("enter the name of contact to delete :")
		contactbook.pop(name)
		print("1 contact deleted succefully")
	elif choice==3:
		name=input("enter the name of contact to edit :")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("contact edited successfully")
	elif choice==4:
		name=input("enter the name :")
		print("Phone Number of ",name," : ",contactbook[name])
	elif choice==5:
		print("Name\t\t Phone Number")
		for x,y in contactbook.items():
			print(x,"\t\t",y)
	else:
		print("Invalid choice !!!")
	choice=int(input("Enter your choice "))

1.Add a contact
2.Delete a contact
3.Edit a contact
4.Search a contact
5.List all contacts
6.Exit
Enter your choice 1
Enter the name : Athira
Enter the phone number : 9946949353
1 contact added successfully
Enter your choice 1
Enter the name : Anu
Enter the phone number : 9846393407
1 contact added successfully
Enter your choice 5
Name		 Phone Number
Athira 		 9946949353
Anu 		 9846393407
Enter your choice 4
enter the name :Athira
Phone Number of  Athira  :  9946949353
Enter your choice 3
enter the name of contact to edit :Anu
Enter the phone number : 9745073326
contact edited successfully
Enter your choice 2
enter the name of contact to delete :Anu
1 contact deleted succefully
Enter your choice 5
Name		 Phone Number
Athira 		 9946949353
Enter your choice 6

In [ ]:
#11.defaultarg.py

def simple_interest(p,n,r=0.25):
	i=p*r*n
	return i
i1=simple_interest(5000,6,0.3)
print("Interest ",i1)
i2=simple_interest(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
#12.dicfunctions.py

bus={
	"Routeno":5,
	"Driver":"kiran",
	"Cleaner":"Manu",
	"points":["karamana","PMG","pattom"]
}

print(bus["Driver"])=>"Kiran"
print(bus.get("Driver")) =>"Kiran"
bus.keys()=>["Routeno","Driver","Cleaner","points"]
bus.values()=>[5,"Kiran","Manu",["karamana","PMG","Pattom"]]
bus.items()=>[{"Routeno":5},]
bus["color"]="Red"
bus.update("Fare")=1500
bus["Driver"]="Mohan"
bus.pop("fare")
bus.popitem()
del bus["Fare"]
del bus
bus.clear()

for x in bus:
	print(x)	=>Routeno Driver Cleaner points
for x in bus:
	print(bus[x])	=>5 kiran Manu ["karamana","PMG","Pattom"]

SyntaxError: ignored

In [ ]:
#13.dictionary.py

student.get("name") =>kiran
student.keys() =>[name,age,mark1,mark2]
student.values() =>["Kiran",25,76,85]
student.items()=[(name:"Kiran"),(age:25),(mark1:76),(mark2:85)]

student["name"]="Manu"
student["phone"]=958744123
student.update({"name":"Mohan"})
student.update({"Address":"Kottayam"})

student.pop("name")
student.popitems()
del student["name"]
del student
student.clear()
candidate=student.copy()
candidate=dict(student)
print(student) =>{name:kiran,age:25....}

SyntaxError: ignored

In [ ]:
#14.dictionarydemo.py

contactlist={}
n=int(input("Enter the number of contacts : "))
for i in range(1,n+1):
	name=input("Enter the contact name :")
	phno=int(input("Enter the phone number :"))
	contactlist[name]=phno
print("Keys")
for x in contactlist.keys():
	print(x)
print("Values")
for x in contactlist.values():
	print(x)
print("Keys-value pairs")
for x,y in contactlist.items():
	print(x,"-",y)

Enter the number of contacts : 2
Enter the contact name :Anu
Enter the phone number :9946949353
Enter the contact name :Arun
Enter the phone number :9846573493
Keys
Anu
Arun
Values
9946949353
9846573493
Keys-value pairs
Anu - 9946949353
Arun - 9846573493

In [ ]:
#15.dictnumber.py

numberNames={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
positionvalues={0:'Ones',1:'Tens',2:'Humdreds',3:'Thousands',4:'Ten Thousands',5:'Lakhs',6:'Ten Lakhs',7:'Crore',8:'Ten Crores',9:'Hundred Crores'}
num=input("Enter any number")
result=''
l=len(num)-1
for ch in num:
	key=int(ch)
	value=numberNames[key]
	result=result + ' ' + value+' '+ positionvalues[l]
	l-=1
print("The number is : ",num)
print("The number Name is :",result)

Enter any number3498657
The number is :  3498657
The number Name is :  Three Ten Lakhs Four Lakhs Nine Ten Thousands Eight Thousands Six Humdreds Five Tens Seven Ones

In [ ]:
#16.digitsumfun.py

def  digitsum(n):
	if n==0:
		return 0
	d=n%10
	s=d+digitsum(n//10)
	return s
no=int(input("Enter the number : "))
sum=digitsum(no)
print("sum of digits : ",sum)

Enter the number : 347
sum of digits :  14

In [ ]:
#17.divisiblesimpif.py

m=int(input("Enter a number : "))
n=int(input("Enter a number : "))
result="not divisible"
if(m%n==0):
	result="divisible"
print(m," is ",result," by ",n)

Enter a number : 58
Enter a number : 3
58  is  not divisible  by  3

In [ ]:
#18.ebillelif.py

u=int(input("Enter the number of units consumed : "))
if u<=100:
	amount=u*0.5
elif u>100 and u<=150:
	amount=(100*0.5)+(u-100)*0.75
elif u>150 and u<=200:
	amount=(100*0.5)+(50*0.75)+(u-150)*1
else:
	amount=(100*0.5)+(50*0.75)+(50*1)+(u-200)*2
print("Amount to be paid : ",amount)

Enter the number of units consumed : 160
Amount to be paid :  97.5

In [ ]:
#19.electrictybill_type.py

type=input("Enter the type of connection : ")
u=int(input("Enter the units consumed : "))
charge=0
if type=="domestic":
	if u<=100:
		charge=u*1
	elif u<150:
		charge=(100*1)+(u-100)*1.5
	elif u<=200:
		charge=(100*1)+(50*1.5)+(u-150)*2
	else:
		charge=(100*1)+(50*1.5)+(50*2)+(u-200)*3
elif type=="commercial":
	if u<=100:
		charge=u*3
	elif u<150:
		charge=(100*3)+(u-100)*4
	elif u<=200:
		charge=(100*3)+(50*4)+(u-150)*6
	else:
		charge=(100*3)+(50*4)+(50*6)+(u-200)*10
else:
	print("Invalid connection type ")
print("Tarriff	: ",charge)

Enter the type of connection : domestic
Enter the units consumed : 120
Tarriff	:  130.0

In [ ]:
#20.factorialsum.py

def sum(n):
	if n==1:
		return 1
	s=n+sum(n-1)
	return s
no=int(input("Enter the number : "))
total=sum(no)
print("Sum  is : ",total)

Enter the number : 5
Sum  is :  15

In [ ]:
#21.fun_arbitoryarg.py

def my_function(*students):
	print(type(students))
	for x in students:
		print(x)

my_function("Kiran", "Manu", "Vinu")
my_function(10,20,30,40,50)

<class 'tuple'>
Kiran
Manu
Vinu
<class 'tuple'>
10
20
30
40
50

In [ ]:
#22.fun_arbitoryarg1.py

def my_function(*formal):
	print(type(formal))
	s=0
	for x in formal:
		s=s+x
	print("Sum is ",s)
my_function(10,20)
my_function(10,20,30,40,50)
my_function(10.2,15.5,26.3)

<class 'tuple'>
Sum is  30
<class 'tuple'>
Sum is  150
<class 'tuple'>
Sum is  52.0

In [ ]:
#23.functionarguments.py

def sum(*no):
	print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
def add(p):
	print(p*6)
def avg(s):
	print(s/5)
sm=sum(10,20,30,40)
add(sm)
sm=sum(25,36,45,78,52)
avg(sm)

<class 'tuple'>
600
<class 'tuple'>
47.2

In [ ]:
#24.functioninterestdefault.py

def simple_interest(p,t,r=5):
	i=p*r*t/100
	return i
principle_amount=int(input("Enter the principle amount : "))
time_period=int(input("Enter the time duration : "))
rate_of_interest=int(input("Enter the rate of interest : "))
i1=simple_interest(principle_amount,time_period)
print("Interest : ",i1)
i2=simple_interest(principle_amount,time_period,rate_of_interest)
print("Interest : ",i2)

Enter the principle amount : 400
Enter the time duration : 2
Enter the rate of interest : 100
Interest :  40.0
Interest :  800.0

In [ ]:
#25.functionlist.py

def sum(no):
	print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
a=[10,20,30,40]
print(sum(a))
b=(25,36,49,64)
print(sum(b))
c={25,50,75}
print(sum(c))

<class 'list'>
100
<class 'tuple'>
174
<class 'set'>
150

In [ ]:
#Phonebook
def add():
  name=input("Enter the name :")
  ph_no=int(input("Enter the phone number :"))
  ph_book[name]=ph_no
  print("successfull")

def search():
  search=input("Enter the contact name to search :")
  if search in ph_book:
    search_contact=ph_book[search]
    print(search_contact)
  else:
    print("Contact is not present.")

def update():
  update=input("Enter the contact name to update :")
  ph_no=int(input("Enter the number :"))
  ph_book[update]=ph_no

def display():
  print(ph_book)

def delete():
  delete=input("enter the contact name to delete :")
  if delete in ph_book:
    confirm=input("do you want to delete contact y / n  :")
    if confirm=="Y" or confirm=="y":
      ph_book.pop(delete)
    else:
      print("name is not found")

print("1. Add contact\n2. Search contact\n3. Update\n4. Display\n5. Delete\n6. Exit")
ph_book={}
choice=int(input("Enter the choice :"))
while choice!=6:
  if choice==1:
    add()
  elif choice==2:
    search()
  elif choice==3:
    update()
  elif choice==4:
    display()
  elif choice==5:
    delete()
  else:
    print("invalid")
  choice=int(input("Enter your choice : "))

1. Add contact
2. Search contact
3. Update
4. Display
5. Delete
6. Exit
Enter the choice :1
Enter the name :Athira
Enter the phone number :1234567
successfull
Enter your choice : 1
Enter the name :Anjana
Enter the phone number :23469
successfull
Enter your choice : 4
{'Athira': 1234567, 'Anjana': 23469}
Enter your choice : 6

In [ ]:
#python-ex-part 2
#1.gradeelif.py

m1=int(input("Enter the marks for physics"))
m2=int(input("Enter the marks for chemistry"))
m3=int(input("Enter the marks for maths"))
p=(m1+m2+m3)*100/300
if p>=90:
	grade="A+"
elif p<90 and p>=80:
	grade="A"
elif p<80 and p>=70:
	grade="B+"
elif p<70 and p>=60:
	grade="B"
elif p<60 and p>=50:
	grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics88
Enter the marks for chemistry70
Enter the marks for maths90
His grade is  A

In [ ]:
#2.gradenestedif.py

m1=int(input("Enter the marks for physics"))
m2=int(input("Enter the marks for chemistry"))
m3=int(input("Enter the marks for maths"))
if m1>=50 and m2>=50 and m3>=50:
	p=(m1+m2+m3)*100/300
	if p>=90:
		grade="A+"
	elif p<90 and p>=80:
		grade="A"
	elif p<80 and p>=70:
		grade="B+"
	elif p<70 and p>=60:
		grade="B"
	else:
		grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics66
Enter the marks for chemistry66
Enter the marks for maths76
His grade is  B

In [ ]:
#3.interestifelse.py

p=int(input("Enter principle amount"))
n=int(input("Enter the duration in years"))
if n>=10:
	r=12
else:
	r=8
i=p*r*n/100
print("Interest : ",i)

Enter principle amount120
Enter the duration in years11
Interest :  158.4

In [ ]:
#4.keywordarg.py

def add(a,b,c):
	return(a+b+c)
s=add(c=20,a=25,b=36)
print("Sum is ",s)

Sum is  81

In [ ]:
#5.list.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
3
5
7
8
9
4
List elements are :
3
5
7
8
9
4

In [ ]:
#6.listbig.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
print("Biggest : ",big)

Enter the number of elements : 5
Enter the elements :
77
99
74
11
59
Biggest :  99

In [ ]:
#7.listbinarysearch.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements in ascending order : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
key=int(input("Enter the element to search : "))
l=0
u=n-1
while l<=u:
	mid=(l+u)//2
	if a[mid]==key:
		print(key,"found at index ",mid)
		break
	elif a[mid]>key:
		u=mid-1
	else:
		l=mid+1
else:
	print(key,"not in the list ")

Enter the number of elements : 5
Enter the elements in ascending order :
12
26
39
66
87
Enter the element to search : 26
26 found at index  1

In [ ]:
#8.listcompr.py

a=[10,20,30,40]
b=[10,20,30,50]
if a==b:
	print("ok")
else:
	print("not ok")

not ok

In [ ]:
#9.listcount.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
count=0
ele=int(input("Enter the element to count : "))
for x in a:
	if x==ele:
		count+=1
print(ele," occured ",count," times")

Enter the number of elements : 5
Enter the elements :
2
5
4
2
8
Enter the element to count : 2
2  occured  2  times

In [ ]:
#10.listdelete.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
for i in range(index,n-1):
	a[i]=a[i+1]
n=n-1
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
23
67
98
56
44
72
Enter the index : 2
List elements are :
23
67
56
44
72

In [ ]:
#11.listduplicate.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
i=0
while i<n-1:
	j=i+1
	while j<n:
		if a[i]==a[j]:
			a.pop(j)
			n=n-1
		else:
			j+=1
	i+=1
print(a)

Enter the number of elements : 5
Enter the elements :
45
87
34
87
90
[45, 87, 34, 90]

In [ ]:
#12.listduplicateset.py

a=[]
n=int(input("Enter the number of elements : "))
for i in range(0,n):
	k=int(input())
	a.append(k)
b=set(a)
a=list(b)
print(a)

Enter the number of elements : 5
34
45
98
70
44
[34, 98, 70, 44, 45]

In [ ]:
#13.listelementcount.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
no=int(input("Enter the element to count : "))
count=0
for i in range(0,n):
	if a[i]==no:
		count+=1
if count==0:
	print(no," not in the list")
else:
	print(no," occured ",count," times")

Enter the number of elements : 7
Enter the elements :
4
8
5
4
3

In [ ]:
#14.listeven.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n):
	if a[i]%2==0:
		print(a[i])

Enter the number of elements : 6
Enter the elements :
23
65
78
88
34
16
78
88
34
16

In [ ]:
#15.listevensum.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2==0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 6
Enter the elements :
12
45
34
76
89
18
sum is :  140

In [ ]:
#16.listinsert.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
a.append(0)
element=int(input("Enter the element to insert"))
index=int(input("Enter the index : "))
for i in range(n,index,-1):
	a[i]=a[i-1]
a[index]=element
print("List elements are : ")
for i in range(0,n+1):
	print(a[i])

Enter the number of elements : 5
Enter the elements :
14
15
63
25
89
Enter the element to insert27
Enter the index : 3
List elements are :
14
15
63
27
25
89

In [ ]:
#17.listinsertfun.py


a=[10,20,30,40,50,60,70]
b=[41,42,43]
a.insert(4,b)
print(a)
a.insert(6,65)
print(a)
print(len(a))

[10, 20, 30, 40, [41, 42, 43], 50, 60, 70]
[10, 20, 30, 40, [41, 42, 43], 50, 65, 60, 70]
9

In [ ]:
#18.listinsertlist.py

a=[]
n= int(input("Enter the number of elements in first list: "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
b=[]
m= int(input("Enter the number of elements in second list : "))
print("Enter the elements : ")
for i in range(0,m):
	k=int(input())
	b.append(k)
	a.append(0)
index=int(input("Enter the index : "))
for i in range(n-1,index-1,-1):
	a[i+m]=a[i]
for i in range(0,m):
	a[index+i]=b[i]
print("List elements are : ")
for i in range(0,m+n):
	print(a[i])

Enter the number of elements in first list: 5
Enter the elements :
28
26
25
33
31
Enter the number of elements in second list : 5
Enter the elements :
41
42
43
44
45
Enter the index : 2
List elements are :
28
26
41
42
43
44
45
25
33
31

In [ ]:
#19.listndelete.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
dn=int(input("Enter the number of elements to be deleted : "))
for i in range(index+dn,n):
	a[i-dn]=a[i]
n=n-dn
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 5
Enter the elements :
1
2
3
4
5
Enter the index : 1
Enter the number of elements to be deleted : 2
List elements are :
1
4
5

In [ ]:
3#20.listoddeven.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])
odd=[]
even=[]
for i in range(0,n):
	if a[i]%2==0:
		even.append(a[i])
	else:
		odd.append(a[i])
print("EVEN LIST")
for x in even:
	print(x)
print("ODD LIST")
for x in odd:
	print(x)

Enter the number of elements : 8
Enter the elements :
1
2
3
4
5
6
7
8
List elements are :
1
2
3
4
5
6
7
8
EVEN LIST
2
4
6
8
ODD LIST
1
3
5
7

In [ ]:
#21.a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2!=0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 5
Enter the elements :
2
6
8
9
3
sum is :  9

In [ ]:
#22.listprime.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("prime numbers are : ")
for i in range(0,n):
	if a[i]==1:
		continue
	for j in range(2,a[i]):
		if a[i]%j==0:
			break
	else:
		print(a[i])

Enter the number of elements : 7
Enter the elements :
2
3
4
5
6
7
8
prime numbers are :
2
3
5
7

In [ ]:
#23.listreverse.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n//2):
	t=a[i]
	a[i]=a[n-i-1]
	a[n-i-1]=t
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 6
Enter the elements :
27
98
56
83
67
99
List elements are :
99
67
83
56
98
27

In [ ]:
#24.listsecbig.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
i=0
while (1):
	if a[i]!=big:
		sbig=a[i]
		break
	i+=1
for i in range(i+1,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Biggest : ",big)
print("2nd Biggest : ",sbig)

Enter the number of elements : 5
Enter the elements :
45
64
38
29
61
Biggest :  64
2nd Biggest :  61

In [ ]:
#25.nesteddict.py

student1={"name":"arfan","place":"Manacaud","Blood Group":"O+"}

student2={"name":"Jovan","place":"Kollam","Blood Group":"O+"}

student3={"name":"Divya","place":"palayam","Blood Group":"A+"}

oneteam={"intern1":student1,"intern2":student2,"intern3":student3}

or

oneteam={"intern1":{"name":"arfan","place":"Manacaud","Blood Group":"O+"},"intern2":{"name":"Jovan","place":"Kollam","Blood Group":"O+"},"intern3":{"name":"Divya","place":"palayam","Blood Group":"A+"}}

SyntaxError: ignored

In [ ]:
#python-ex-part 3
#1.palindromefun.py

def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
no=int(input("Enter a number : "))
r=reverse(no)
if no==r:
	print("Palindrome")
else:
	print("Not a palindrome")

Enter a number : 123321
Palindrome

In [ ]:
#2.quadeqifelse.py

a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
if x>=0:
	print("Roots are real")
else:
	print("Roots are Imaginary")

Enter the coefficient of x^2 term : 1
Enter the coefficient of x term : 2
Enter the constant term : 3
Roots are Imaginary

In [ ]:
#3.quadeqsimif.py

a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
roots="Imaginary"
if x>=0:
	roots="Real"
print("Roots are ",roots)

Enter the coefficient of x^2 term : 5
Enter the coefficient of x term : 4
Enter the constant term : 1
Roots are  Imaginary

In [ ]:
#4.reversefun.py

def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
n=int(input("Enter a number : "))
#r=reverse(n)
print("Reverse of ",n," is ",reverse(n))

Enter a number : 1234
Reverse of  1234  is  4321

In [ ]:
#5.righttriangle.py

a=int(input("Enter the measurement of 1st side"))
b=int(input("Enter the measurement of 2nd side"))
c=int(input("Enter the measurement of 3rd side"))
if a**2==b**2+c**2 or b**2==a**2+c**2 or c**2==a**2+b**2:
	print("Right traingle")
else:
	print("Not a right triangle")

Enter the measurement of 1st side2
Enter the measurement of 2nd side4
Enter the measurement of 3rd side6
Not a right triangle

In [ ]:
#6.amstrong.py

n=input("Enter a number : ")
l=len(n)
n=int(n)
s=0
t=n
while n!=0:
	d=n%10
	s=s+d**l
	n=n//10
if t==s:
	print("Amstrong")
else:
	print("Not an amstrong")

Enter a number : 153
Amstrong

In [ ]:
#7.b2d.py

b=int(input("Enter the binary number : "))
d=0
i=0
while b!=0:
	dig=b%10
	d=d+(dig*(2**i))
	i=i+1
	b=b//10
print("Decimal equalent is ",d)

Enter the binary number : 45
Decimal equalent is  13

In [ ]:
#8.bigdigit.py

n=int(input("Enter a number : "))
bd=0
while n!=0:
	d=n%10
	if d>bd:
		bd=d
	n=n//10
print("greatest digit ",bd
)

Enter a number : 76398
greatest digit  9

In [ ]:
#9.factorssumfor.py

n=int(input("Enter the number : "))
s=0
for i in range(1,n+1):
	if n%i==0:
		s=s+i
print("Sum is ",s)

Enter the number : 234
Sum is  546

In [ ]:
#10.sumsingledigit.py

n=int(input("Enter a number : "))
s=sum(int(i) for i in str(n))
print("Single digit sum = ",s%9 if s%9 else 9)

Enter a number : 56
Single digit sum =  2

In [ ]:
#11.sumoddwhile.py

n=int(input("Enter the limit "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+2
print("Sum is ",s)

Enter the limit 10
Sum is  25

In [ ]:
#12.sumnaturalfor.py

n=int(input("Enter the limit"))
s=0
for x in range(1,n+1):
	s=s+x
print("Sum is ",s)

Enter the limit10
Sum is  55

In [ ]:
#13.sumnaturalwhile.py

n=int(input("Enter the limit : "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+1
print("Sum is ",s)

Enter the limit : 10
Sum is  55

In [ ]:
#14.strongnumber.py

n=int(input("Enter a number"))
temp=n
sum=0
while n!=0:
	d=n%10
	fact=1
	while d>1:
		fact*=d
		d-=1
	sum+=fact
	n=n//10
if sum==temp:
	print("Strong number")
else:
	print("Not a strong number")

Enter a number145
Strong number

In [ ]:
#15.spynumber.py

n=int(input("Enter a number"))
sum=0
product=1
while n!=0:
	d=n%10
	sum+=d
	product*=d
	n=n//10
if sum==product:
	print("Spy Number")
else:
	print("Not a spy number")

Enter a number22
Spy Number

In [ ]:
#Recursion
#Factorial
def factorial(x):
  if x==1:
    return 1
  else:
    return (x * factorial(x-1))
num=3
print("The factorial of",num,"is",factorial(num))

The factorial of 3 is 6